<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #fffffff7 !important;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav w-100 justify-content-evenly">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Sports
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">NFL</a></li>
                        <li><a class="dropdown-item" href="#">Coming Soon</a></li>
                        <li><a class="dropdown-item" href="#">Coming Soon</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" height="80px">
                </li>
                <li class="nav-item">
                    {% if logged_in %}
                        <a class="nav-link button" href="/logout">Logout</a>
                    {% elif not logged_in %}
                        <a class="nav-link" href="/login">Login</a>
                        <li class="nav-item">
                            <a class="nav-link button" href="/sign-up">Sign Up!</a>
                        </li>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<body>

    <div class="score-container">
        {% for game in mlb.games %}
            <div class="score-item">
                <div class="team-score">
                    <span class="away">{{ game.away_team }}: {{ game.away_runs }}</span>
                    <span>{{ game.home_team }}: {{ game.home_runs }}</span>
                </div>
                <div class="status {% if game.is_final %}final{% endif %}">
                    {% if game.is_final %}Final{% else %}Live/Sched{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
<div class="league-container mt-4">
<div class="conf text-center">
    <img src="{{ url_for('static', filename='images/afl.gif') }}" height="200px" class="d-block mx-auto" alt="AFC Logo">
</div>

<!-- AFC East -->
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">AFC East</th>
        <th>Team</th>
        <th>Make favorite team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/bills.png') }}" alt="Bills Logo"></td>
        <td class="text-center"><a href="/nfl/768c92aa-75ff-4a43-bcc0-f2798c2e1724" class="plain-link">Buffalo Bills</a></td>
        <td class="text-center"><a href="/favorite/768c92aa-75ff-4a43-bcc0-f2798c2e1724" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/dolphins.png') }}" alt="Dolphins Logo"></td>
        <td class="text-center"><a href="/nfl/4809ecb0-abd3-451d-9c4a-92a90b83ca06" class="plain-link">Miami Dolphins</a></td>
        <td class="text-center"><a href="/favorite/4809ecb0-abd3-451d-9c4a-92a90b83ca06" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/patriots.png') }}" alt="Patriots Logo"></td>
        <td class="text-center"><a href="/nfl/97354895-8c77-4fd4-a860-32e62ea7382a" class="plain-link">New England Patriots</a></td>
        <td class="text-center"><a href="/favorite/97354895-8c77-4fd4-a860-32e62ea7382a" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/jets.png') }}" alt="Jets Logo"></td>
        <td class="text-center"><a href="/nfl/5fee86ae-74ab-4bdd-8416-42a9dd9964f3" class="plain-link">New York Jets</a></td>
        <td class="text-center"><a href="/favorite/5fee86ae-74ab-4bdd-8416-42a9dd9964f3" class="plain-link">Favorite</a></td>
      </tr>
    </tbody>
</table>

<!-- AFC North -->
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">AFC North</th>
        <th>Team</th>
        <th>Make favorite team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/ravens.png') }}" alt="Ravens Logo"></td>
        <td class="text-center"><a href="/nfl/ebd87119-b331-4469-9ea6-d51fe3ce2f1c" class="plain-link">Baltimore Ravens</a></td>
        <td class="text-center"><a href="/favorite/ebd87119-b331-4469-9ea6-d51fe3ce2f1c" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/bengals.png') }}" alt="Bengals Logo"></td>
        <td class="text-center"><a href="/nfl/ad4ae08f-d808-42d5-a1e6-e9bc4e34d123" class="plain-link">Cincinnati Bengals</a></td>
        <td class="text-center"><a href="/favorite/ad4ae08f-d808-42d5-a1e6-e9bc4e34d123" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/browns.png') }}" alt="Browns Logo"></td>
        <td class="text-center"><a href="/nfl/d5a2eb42-8065-4174-ab79-0a6fa820e35e" class="plain-link">Cleveland Browns</a></td>
        <td class="text-center"><a href="/favorite/d5a2eb42-8065-4174-ab79-0a6fa820e35e" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/steelers.png') }}" alt="Steelers Logo"></td>
        <td class="text-center"><a href="/nfl/cb2f9f1f-ac67-424e-9e72-1475cb0ed398" class="plain-link">Pittsburgh Steelers</a></td>
        <td class="text-center"><a href="/favorite/cb2f9f1f-ac67-424e-9e72-1475cb0ed398" class="plain-link">Favorite</a></td>
      </tr>
    </tbody>
</table>

<!-- AFC South -->
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">AFC South</th>
        <th>Team</th>
        <th>Make favorite team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/texans.png') }}" alt="Texans Logo"></td>
        <td class="text-center"><a href="/nfl/82d2d380-3834-4938-835f-aec541e5ece7" class="plain-link">Houston Texans</a></td>
        <td class="text-center"><a href="/favorite/82d2d380-3834-4938-835f-aec541e5ece7" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/colts.png') }}" alt="Colts Logo"></td>
        <td class="text-center"><a href="/nfl/82cf9565-6eb9-4f01-bdbd-5aa0d472fcd9" class="plain-link">Indianapolis Colts</a></td>
        <td class="text-center"><a href="/favorite/82cf9565-6eb9-4f01-bdbd-5aa0d472fcd9" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/jaguars.png') }}" alt="Jaguars Logo"></td>
        <td class="text-center"><a href="/nfl/f7ddd7fa-0bae-4f90-bc8e-669e4d6cf2de" class="plain-link">Jacksonville Jaguars</a></td>
        <td class="text-center"><a href="/favorite/f7ddd7fa-0bae-4f90-bc8e-669e4d6cf2de" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/titans.png') }}" alt="Titans Logo"></td>
        <td class="text-center"><a href="/nfl/d26a1ca5-722d-4274-8f97-c92e49c96315" class="plain-link">Tennessee Titans</a></td>
        <td class="text-center"><a href="/favorite/d26a1ca5-722d-4274-8f97-c92e49c96315" class="plain-link">Favorite</a></td>
      </tr>
    </tbody>
</table>

<!-- AFC West -->
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">AFC West</th>
        <th>Team</th>
        <th>Make favorite team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/broncos.png') }}" alt="Broncos Logo"></td>
        <td class="text-center"><a href="/nfl/ce92bd47-93d5-4fe9-ada4-0fc681e6caa0" class="plain-link">Denver Broncos</a></td>
        <td class="text-center"><a href="/favorite/ce92bd47-93d5-4fe9-ada4-0fc681e6caa0" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/chiefs.png') }}" alt="Chiefs Logo"></td>
        <td class="text-center"><a href="/nfl/6680d28d-d4d2-49f6-aace-5292d3ec02c2" class="plain-link">Kansas City Chiefs</a></td>
        <td class="text-center"><a href="/favorite/6680d28d-d4d2-49f6-aace-5292d3ec02c2" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/raiders.png') }}" alt="Raiders Logo"></td>
        <td class="text-center"><a href="/nfl/7d4fcc64-9cb5-4d1b-8e75-8a906d1e1576" class="plain-link">Las Vegas Raiders</a></td>
        <td class="text-center"><a href="/favorite/7d4fcc64-9cb5-4d1b-8e75-8a906d1e1576" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/chargers.png') }}" alt="Chargers Logo"></td>
        <td class="text-center"><a href="/nfl/1f6dcffb-9823-43cd-9ff4-e7a8466749b5" class="plain-link">Los Angeles Chargers</a></td>
        <td class="text-center"><a href="/favorite/1f6dcffb-9823-43cd-9ff4-e7a8466749b5" class="plain-link">Favorite</a></td>
      </tr>
    </tbody>
</table>

<div class="conf text-center">
    <img src="{{ url_for('static', filename='images/nfc.gif') }}" height="200px" class="d-block mx-auto" alt="NFC Logo">
</div>

<!-- NFC East -->
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">NFC East</th>
        <th>Team</th>
        <th>Make favorite team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/cowboys.png') }}" alt="Cowboys Logo"></td>
        <td class="text-center"><a href="/nfl/e627eec7-bbae-4fa4-8e73-8e1d6bc5c060" class="plain-link">Dallas Cowboys</a></td>
        <td class="text-center"><a href="/favorite/e627eec7-bbae-4fa4-8e73-8e1d6bc5c060" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/giants.png') }}" alt="Giants Logo"></td>
        <td class="text-center"><a href="/nfl/04aa1c9d-66da-489d-b16a-1dee3f2eec4d" class="plain-link">New York Giants</a></td>
        <td class="text-center"><a href="/favorite/04aa1c9d-66da-489d-b16a-1dee3f2eec4d" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/eagles.png') }}" alt="Eagles Logo"></td>
        <td class="text-center"><a href="/nfl/386bdbf9-9eea-4869-bb9a-274b0bc66e80" class="plain-link">Philadelphia Eagles</a></td>
        <td class="text-center"><a href="/favorite/386bdbf9-9eea-4869-bb9a-274b0bc66e80" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/commanders.png') }}" alt="Commanders Logo"></td>
        <td class="text-center"><a href="/nfl/22052ff7-c065-42ee-bc8f-c4691c50e624" class="plain-link">Washington Commanders</a></td>
        <td class="text-center"><a href="/favorite/22052ff7-c065-42ee-bc8f-c4691c50e624" class="plain-link">Favorite</a></td>
      </tr>
    </tbody>
</table>

<!-- NFC North -->
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">NFC North</th>
        <th>Team</th>
        <th>Make favorite team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/bears.png') }}" alt="Bears Logo"></td>
        <td class="text-center"><a href="/nfl/7b112545-38e6-483c-a55c-96cf6ee49cb8" class="plain-link">Chicago Bears</a></td>
        <td class="text-center"><a href="/favorite/7b112545-38e6-483c-a55c-96cf6ee49cb8" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/lions.png') }}" alt="Lions Logo"></td>
        <td class="text-center"><a href="/nfl/c5a59daa-53a7-4de0-851f-fb12be893e9e" class="plain-link">Detroit Lions</a></td>
        <td class="text-center"><a href="/favorite/c5a59daa-53a7-4de0-851f-fb12be893e9e" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/packers.png') }}" alt="Packers Logo"></td>
        <td class="text-center"><a href="/nfl/a20471b4-a8d9-40c7-95ad-90cc30e46932" class="plain-link">Green Bay Packers</a></td>
        <td class="text-center"><a href="/favorite/a20471b4-a8d9-40c7-95ad-90cc30e46932" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/vikings.png') }}" alt="Vikings Logo"></td>
        <td class="text-center"><a href="/nfl/33405046-04ee-4058-a950-d606f8c30852" class="plain-link">Minnesota Vikings</a></td>
        <td class="text-center"><a href="/favorite/33405046-04ee-4058-a950-d606f8c30852" class="plain-link">Favorite</a></td>
      </tr>
    </tbody>
</table>

<!-- NFC South -->
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">NFC South</th>
        <th>Team</th>
        <th>Make favorite team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/falcons.png') }}" alt="Falcons Logo"></td>
        <td class="text-center"><a href="/nfl/e6aa13a4-0055-48a9-bc41-be28dc106929" class="plain-link">Atlanta Falcons</a></td>
        <td class="text-center"><a href="/favorite/e6aa13a4-0055-48a9-bc41-be28dc106929" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/panthers.png') }}" alt="Panthers Logo"></td>
        <td class="text-center"><a href="/nfl/f14bf5cc-9a82-4a38-bc15-d39f75ed5314" class="plain-link">Carolina Panthers</a></td>
        <td class="text-center"><a href="/favorite/f14bf5cc-9a82-4a38-bc15-d39f75ed5314" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/saints.png') }}" alt="Saints Logo"></td>
        <td class="text-center"><a href="/nfl/0d855753-ea21-4953-89f9-0e20aff9eb73" class="plain-link">New Orleans Saints</a></td>
        <td class="text-center"><a href="/favorite/0d855753-ea21-4953-89f9-0e20aff9eb73" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/buccaneers.png') }}" alt="Buccaneers Logo"></td>
        <td class="text-center"><a href="/nfl/4254d319-1bc7-4f81-b4ab-b5e6f3402b69" class="plain-link">Tampa Bay Buccaneers</a></td>
        <td class="text-center"><a href="/favorite/4254d319-1bc7-4f81-b4ab-b5e6f3402b69" class="plain-link">Favorite</a></td>
      </tr>
    </tbody>
</table>

<!-- NFC West -->
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">NFC West</th>
        <th>Team</th>
        <th>Make favorite team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/cardinals.png') }}" alt="Cardinals Logo"></td>
        <td class="text-center"><a href="/nfl/de760528-1dc0-416a-a978-b510d20692ff" class="plain-link">Arizona Cardinals</a></td>
        <td class="text-center"><a href="/favorite/de760528-1dc0-416a-a978-b510d20692ff" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/rams.png') }}" alt="Rams Logo"></td>
        <td class="text-center"><a href="/nfl/2eff2a03-54d4-46ba-890e-2bc3925548f3" class="plain-link">Los Angeles Rams</a></td>
        <td class="text-center"><a href="/favorite/2eff2a03-54d4-46ba-890e-2bc3925548f3" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/49ers.png') }}" alt="49ers Logo"></td>
        <td class="text-center"><a href="/nfl/f0e724b0-4cbf-495a-be47-013907608da9" class="plain-link">San Francisco 49ers</a></td>
        <td class="text-center"><a href="/favorite/f0e724b0-4cbf-495a-be47-013907608da9" class="plain-link">Favorite</a></td>
      </tr>
      <tr>
        <td class="text-center"><img class="team-logo d-block mx-auto" src="{{ url_for('static', filename='images/seahawks.png') }}" alt="Seahawks Logo"></td>
        <td class="text-center"><a href="/nfl/3d08af9e-c767-4f88-a7dc-b920c6d2b4a8" class="plain-link">Seattle Seahawks</a></td>
        <td class="text-center"><a href="/favorite/3d08af9e-c767-4f88-a7dc-b920c6d2b4a8" class="plain-link">Favorite</a></td>
      </tr>
    </tbody>
</table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>