# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (if you use one)
venv/
env/

# commented out the .env because it is good practice to nomrally have it ignored but for the sake of this assignment the teacher needs the api keys and host keys to make it work.
# .env

# macOS junk
.DS_Store


#packages cache
pipfile.lock