body {
    background-image: url("/static/images/bg.jpg");
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 100vh; 
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 80px;

}

.news {
    border: 1px solid black;
    width: 800px;
    height: 300px;
}

.scores {
    border: 1px solid black;
    width: 1000px;
    height: 100px;
}

.nav-link {
    color: black;
    font-weight: bold;
}

.nav-item {
    display: flex;
    align-items: center;
    
}

.nav-link:hover {
    color: rgb(16, 103, 255); /* Aqua */
}