body {
    background-image: url("/static/images/bg.jpg");
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 100vh; 
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 80px;

}

.news {
    display: flex;
    flex-direction: column;
    background-color: rgba(230, 230, 230, 0.787);
    border: 3px solid black;
    align-items: center;
    border-radius: 1%;
    /* https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: -4px 4px 54px 20px rgba(173,216,230,1);
    -moz-box-shadow: -4px 4px 54px 20px rgba(173,216,230,1);
    box-shadow: -4px 4px 54px 20px rgba(173,216,230,1);
}

.articleImg {
    border: 2px solid black;
}

.newsContent {
    padding: 20px;
    max-width: 888.88px;
    text-align: center;
}

.newsContent h3 {
    font-size: 1.6em;
    color: #222;
    margin-bottom: 10px;
    line-height: 1.3;
}

.newsContent h4 {
    font-size: 1.4em;
    color: #222;
    margin-bottom: 10px;
    line-height: 1.3;
}

.newsContent h6 {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 12px;
}

.newsContent p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.5;
}

.newsContent .article-link {
    font-size: 1em;
    color: rgb(51, 105, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid rgb(51, 105, 255);
    border-radius: 4px;
    transition: background 0.2s, color 0.2s;
}

.newsContent .article-link:hover {
    background: rgb(51, 105, 255);
    color: white;
}

hr {
    width: 80%;
    border: 0;
    height: 1px;
    background: #666;
}

.scores {
    border: 1px solid black;
    background-color: rgba(230, 230, 230, 0.787);
    width: 1000px;
    height: 100px;
}

.nav-link {
    color: black;
    font-weight: bold;
}

.nav-item {
    display: flex;
    align-items: center;
    
}

.nav-link:hover {
    color: rgb(16, 103, 255); /* Aqua */
}

.card {
    padding: 30px;
    font-weight: bold;
}

#signup-card {
    border: 2px solid rgb(51, 105, 255);
}

#login-card {
    border: 2px solid rgb(0, 178, 0);
}


#login {
    color: rgb(0, 178, 0);
}


#register {
    color: rgb(51, 105, 255);
}

.error {
    color: red;
    font-weight: bold;
}